In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#### PCODE    선수
76232 양의지

68050 강백호

75847 최정

67341 이정후

79192 채은성

78224 김재환

78513 전준우

76290 김현수

79215 박건우

67872 로맥

In [ ]:
code_list = [76232, 68050, 75847, 67341, 79192, 78224, 78513, 76290, 79215, 67872]

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/10명포함/1번/df1.csv', index_col=0)
df2 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/10명포함/1번/df2.csv', index_col=0)
df3 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/10명포함/1번/df3.csv', index_col=0)

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df1[df1['PCODE'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

In [ ]:
df1_test = df1.loc[out_index]
df1 = df1.drop(out_index)

df1.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/1번/df1.csv')
df1_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/1번/df1_test.csv')

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df2[df2['PCODE'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df2_test = df2.loc[out_index]
df2 = df2.drop(out_index)

df2.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/1번/df2.csv')
df2_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/1번/df2_test.csv')

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df3[df3['PCODE'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df3_test = df3.loc[out_index]
df3 = df3.drop(out_index)

df3.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/1번/df3.csv')
df3_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/1번/df3_test.csv')

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/10명포함/2번/df1.csv', index_col=0)
df2 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/10명포함/2번/df2.csv', index_col=0)
df3 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/10명포함/2번/df3.csv', index_col=0)
df1

     PCODE      배럴지수    뜬공땅볼비율      장타율
3    50165  0.182801  2.239521  0.50700
11   50350  0.068750  1.897436  0.33600
14   50458  0.000000  1.101408  0.29300
15   50468  0.119277  1.625000  0.47700
16   50469  0.086087  1.629630  0.36700
..     ...       ...       ...      ...
428  79402  0.021220  1.346857  0.34375
430  79456  0.003962  0.826477  0.35425
433  79608  0.035714  1.793256  0.46725
435  99606  0.029412  1.074074  0.42100
436  99810  0.025688  1.142857  0.41700

[153 rows x 4 columns]

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df1[df1['PCODE'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df1_test = df1.loc[out_index]
df1 = df1.drop(out_index)

df1.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/2번/df1.csv')
df1_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/2번/df2_test.csv')

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df2[df2['PCODE'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df2_test = df2.loc[out_index]
df2 = df2.drop(out_index)

df2.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/2번/df2.csv')
df2_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/2번/df2_test.csv')

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df3[df3['PCODE'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df3_test = df3.loc[out_index]
df3 = df3.drop(out_index)

df3.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/2번/df3.csv')
df3_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/2번/df3_test.csv')

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/10명포함/3번/df1.csv', index_col=0)
df2 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/10명포함/3번/df2.csv', index_col=0)
df3 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/10명포함/3번/df3.csv', index_col=0)
df1

     PCODE_YEAR      배럴지수    뜬공땅볼비율    장타율
0    50165_2020  0.160584  2.386364  0.592
1    50165_2021  0.150376  2.037037  0.422
2    50350_2020  0.062500  1.897436  0.336
3    50458_2020  0.000000  1.239130  0.272
4    50458_2021  0.000000  0.976744  0.314
..          ...       ...       ...    ...
461  79608_2019  0.020619  1.666667  0.412
462  79608_2020  0.028571  2.203390  0.413
463  79608_2021  0.048193  1.268293  0.481
464  99606_2018  0.042017  1.074074  0.421
465  99810_2018  0.036697  1.142857  0.417

[466 rows x 4 columns]

In [ ]:
code_list2 = code_list
code_list2

[76232, 68050, 75847, 67341, 79192, 78224, 78513, 76290, 79215, 67872]

In [ ]:
code_list = []

for i in range(len(code_list2)):
  code_list.append(str(code_list2[i]) + "_2021")

code_list

['76232_2021',
 '68050_2021',
 '75847_2021',
 '67341_2021',
 '79192_2021',
 '78224_2021',
 '78513_2021',
 '76290_2021',
 '79215_2021',
 '67872_2021']

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df1[df1['PCODE_YEAR'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df1_test = df1.loc[out_index]
df1 = df1.drop(out_index)

df1.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/3번/df1.csv')
df1_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/3번/df1_test.csv')

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df2[df2['PCODE_YEAR'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df2_test = df2.loc[out_index]
df2 = df2.drop(out_index)

df2.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/3번/df2.csv')
df2_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/3번/df2_test.csv')

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df3[df3['PCODE_YEAR'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df3_test = df3.loc[out_index]
df3 = df3.drop(out_index)

df3.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/3번/df3.csv')
df3_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/3번/df3_test.csv')

## 출루율

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/10명포함/1번/df1.csv', index_col=0)
df2 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/10명포함/1번/df2.csv', index_col=0)
df3 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/10명포함/1번/df3.csv', index_col=0)

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df1[df1['PCODE'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df1_test = df1.loc[out_index]
df1 = df1.drop(out_index)

df1.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/1번/df1.csv')
df1_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/1번/df1_test.csv')

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df2[df2['PCODE'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df2_test = df2.loc[out_index]
df2 = df2.drop(out_index)

df2.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/1번/df2.csv')
df2_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/1번/df2_test.csv')

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df3[df3['PCODE'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df3_test = df3.loc[out_index]
df3 = df3.drop(out_index)

df3.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/1번/df3.csv')
df3_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/1번/df3_test.csv')

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/10명포함/2번/df1.csv', index_col=0)
df2 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/10명포함/2번/df2.csv', index_col=0)
df3 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/10명포함/2번/df3.csv', index_col=0)

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df1[df1['PCODE'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df1_test = df1.loc[out_index]
df1 = df1.drop(out_index)

df1.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/2번/df1.csv')
df1_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/2번/df1_test.csv')

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df2[df2['PCODE'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df2_test = df2.loc[out_index]
df2 = df2.drop(out_index)

df2.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/2번/df2.csv')
df2_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/2번/df2_test.csv')

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df3[df3['PCODE'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df3_test = df3.loc[out_index]
df3 = df3.drop(out_index)

df3.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/2번/df3.csv')
df3_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/2번/df3_test.csv')

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/10명포함/3번/df1.csv', index_col=0)
df2 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/10명포함/3번/df2.csv', index_col=0)
df3 = pd.read_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/10명포함/3번/df3.csv', index_col=0)
df1

     PCODE_YEAR     타율    홈런       볼삼비  ...   컨택%  2S후커트%  2S후선구%       출루율
0    60558_2018  0.254  12.0  0.260870  ...  71.5    66.6    33.4  0.309973
1    61102_2018  0.296  19.0  0.350000  ...  78.3    76.8    31.6  0.353448
2    61186_2018  0.340   2.0  0.812500  ...  82.4    80.2    36.7  0.409877
3    61208_2018  0.301   2.0  0.431818  ...  84.7    79.8    29.9  0.348276
4    61353_2018  0.279   6.0  0.156250  ...  72.6    63.8    34.8  0.310541
..          ...    ...   ...       ...  ...   ...     ...     ...       ...
395  51203_2021  0.275   2.0  0.200000  ...  77.0    71.0    30.8  0.319444
396  51463_2021  0.312  20.0  0.666667  ...  79.1    77.5    37.8  0.378453
397  51725_2021  0.257   7.0  0.275862  ...  75.7    72.6    27.5  0.305970
398  51817_2021  0.255  13.0  0.811594  ...  74.0    62.9    43.6  0.406250
399  69102_2021  0.270   7.0  0.900000  ...  81.4    79.8    38.1  0.385542

[400 rows x 11 columns]

In [ ]:
code_list2 = code_list
code_list2

[76232, 68050, 75847, 67341, 79192, 78224, 78513, 76290, 79215, 67872]

In [ ]:
code_list = []

for i in range(len(code_list2)):
  code_list.append(str(code_list2[i]) + "_2021")

code_list

['76232_2021',
 '68050_2021',
 '75847_2021',
 '67341_2021',
 '79192_2021',
 '78224_2021',
 '78513_2021',
 '76290_2021',
 '79215_2021',
 '67872_2021']

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df1[df1['PCODE_YEAR'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df1_test = df1.loc[out_index]
df1 = df1.drop(out_index)

df1.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/3번/df1.csv')
df1_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/3번/df1_test.csv')

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df2[df2['PCODE_YEAR'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df2_test = df2.loc[out_index]
df2 = df2.drop(out_index)

df2.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/3번/df2.csv')
df2_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/3번/df2_test.csv')

In [ ]:
out_index = []
for i in range(len(code_list)):
  out_index.append(df3[df3['PCODE_YEAR'] == code_list[i]].index[0])

out_index = pd.Series(out_index)

df3_test = df3.loc[out_index]
df3 = df3.drop(out_index)

df3.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/3번/df3.csv')
df3_test.to_csv('/content/drive/MyDrive/빅콘테스트/Train_dataset/출루율/3번/df3_test.csv')